{% extends "layout.html" %}
{% block body %}
    <div class="player">
        <h1 id="hdashboard">Dashboard</h1>
        <iframe id="sc-widget1" width="100%" scrolling="no" frameborder="0"></iframe>
        <div class="button" id="last1">last</div>
        <div class="button" id="next1">next</div>
        <div id="error1"></div>
    </div>
    <div class="player">
        <h1 id="hlikes">Likes</h1>
        <iframe id="sc-widget2" width="100%" scrolling="no" frameborder="0"></iframe>
        <div class="button" id="last2">last</div>
        <div class="button" id="next2">next</div>
        <div id="error2"></div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://w.soundcloud.com/player/api.js"></script>
    <script src="/static/js/controller.js"></script>
{% endblock %}

