<!doctype html>

<html>
<head>
    <title>SoundCloudr</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<header>
    <div id="header_body">
        <div id="logo"><a href="/">SoundCloudr</a></div>
        <a href="/settings"><i id="settings-cog" class="fa fa-cog"></i></a>
        {% if session.access_token %}<div id="logout"><a href="/logout">logout</a></div>{% endif %}
    </div>
</header>
<body>
    <div id="content">
        {% block body %}{% endblock %}
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://w.soundcloud.com/player/api.js"></script>
    <script src="/static/js/controller.js"></script>
</body>
</html>
